.root6{
    margin:0 1em;
    text-align: center;

}
.button3{
    color: #666;
    border-radius: 5px;
    padding:0.5em 1em;
    background-color:  #aaa;
    color: #eaeaea;
}
.text3{
    color:#888;
}